
////////////////////////////////////////////////
////////////////////////////////////////////////
// 1. Initial variables
@import "functions.sass";

// Colors
$black:        hsl(0, 0%, 4%) ;
$black-bis:    hsl(0, 0%, 7%) ;
$black-ter:    hsl(0, 0%, 14%) ;

$grey-darker:  hsl(0, 0%, 21%) ;
$grey-dark:    hsl(0, 0%, 29%) ;
$grey:         hsl(0, 0%, 48%) ;
$grey-light:   hsl(0, 0%, 71%) ;
$grey-lighter: hsl(0, 0%, 86%) ;

$white-ter:    hsl(0, 0%, 96%) ;
$white-bis:    hsl(0, 0%, 98%) ;
$white:        hsl(0, 0%, 100%) ;

$orange:       rgb(255, 71, 15) ;
$yellow:       rgb(254, 221, 86) ;
$green:        rgb(7, 219, 81) ;
$turquoise:    rgb(55, 171, 233) ;
$blue:         rgb(36, 102, 207) ;
$purple:       rgb(183, 107, 255) ;
$red:          rgb(226, 17, 59) ;
$newBlue:      rgb(94, 189, 237) ;

$menu-background-color: #f7f7f7;
$menu-item-hover-background-color: #dddddd;

$bg-primary: #007bff;
$bg-secondary: #868e96;
$bg-success: #28a745;
$bg-danger: #dc3545;
$bg-warning: #ffc107;
$bg-info: #17a2b8;
$bg-light: #f8f9fa;
$bg-dark: #343a40;
$bg-white: #fff;

// Typography
$family-sans-serif: "微軟正黑體", "BlinkMacSystemFont", "-apple-system", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace: monospace ;
$render-mode: optimizeLegibility ;

$size-1: 3rem ;
$size-2: 2.5rem ;
$size-3: 2rem ;
$size-4: 1.5rem ;
$size-5: 1.25rem ;
$size-6: 1rem ;
$size-7: 0.75rem ;

$weight-light: 300 ;
$weight-normal: 400 ;
$weight-semibold: 500 ;
$weight-bold: 700 ;

// Body
$body-background: #fff ;
$body-size: 16px ;

// Responsiveness
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px ;
// 960px container + 40px
$desktop: 1000px ;
// 1152px container + 40
$widescreen: 1192px ;
// 1344px container + 40
$fullhd: 1384px ;

// Miscellaneous
$easing: ease-out ;
$radius-small: 2px ;
$radius: 3px ;
$radius-large: 5px ;
$speed: 86ms ;

////////////////////////////////////////////////
////////////////////////////////////////////////
// 2. Primary colors

$primary: $blue ;
$info: $turquoise;
$success: $green ;
$warning: $yellow ;
$danger: $red ;
$light: $white-ter ;
$dark: $grey-darker ;


////////////////////////////////////////////////
////////////////////////////////////////////////
// 3. Applied variables

// Invert colors
$orange-invert: findColorInvert($orange) ;
$yellow-invert: findColorInvert($yellow) ;
$green-invert: findColorInvert($green) ;
$turquoise-invert: findColorInvert($turquoise) ;
$blue-invert: findColorInvert($blue) ;
$purple-invert: findColorInvert($purple) ;
$red-invert: findColorInvert($red) ;
$newBlue-invert: findColorInvert($newBlue) ;
$bg-danger-invert: findColorInvert($bg-danger) ;

$primary-invert: $blue-invert ;
$info-invert: $turquoise-invert ;
$success-invert: $green-invert ;
$warning-invert: $yellow-invert ;
$danger-invert: $red-invert ;
$light-invert: $dark ;
$dark-invert: $light ;

// General colors
$background: $white-ter ;

$border: $grey-lighter ;
$border-hover: $grey-light ;

// Text colors
$text: $grey-dark ;
$text-invert: findColorInvert($text) ;
$text-light: $grey ;
$text-strong: $grey-darker ;

// Code colors
$code: $red ;
$code-background: $background ;

$pre: $text ;
$pre-background: $background ;

// Link colors
$link: $primary ;
$link-invert: $primary-invert ;
$link-visited: $purple ;

$link-hover: $grey-darker ;
$link-hover-border: $grey-light ;

$link-focus: $grey-darker ;
$link-focus-border: $primary ;

$link-active: $grey-darker ;
$link-active-border: $grey-dark ;

// Typography
$family-primary: $family-sans-serif ;
$family-code: $family-monospace ;

$size-small: $size-7 ;
$size-normal: $size-6 ;
$size-medium: $size-5 ;
$size-large: $size-4 ;

////////////////////////////////////////////////
////////////////////////////////////////////////
// 4. Lists and maps

$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "newBlue": ($newBlue, $newBlue-invert),
    'orange': ($orange, $orange-invert),
    "bg-danger": ($bg-danger, $bg-danger-invert)
) ;

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 ;

$box-padding: 1rem;

// customer
// table
table tr.is-success td, table tr.is-success th {
    border-color: $success;
}

table.is-success tr td, table.is-success tr th {
    border-color: $success;
}

table tr.is-info td, table tr.is-info th {
    border-color: $info;
}

table.is-info tr td, table.is-info tr th {
    border-color: $info;
}

table tr.is-orange td, table tr.is-orange th {
    border-color: $orange;
}

table.is-orange tr td, table.is-orange tr th {
    border-color: $orange;
}

.menu-list ul li a.is-active {
    background: #3393fa;
}

.modal-alert {
    top: -200px;
}

.modal-large {
    background: #f7f7f7;
    padding: 5px;
    margin: 0 20px;
    //max-height: calc(100vh - 160px);
    overflow: auto;
    position: relative;
    width: 100%;
}

@media screen and (min-width: 769px), print {
    .modal-large {
        background: #f7f7f7;
        padding: 5px;
        margin: 0 auto;
        //max-height: calc(100vh - 40px);
        height: 600px;
        width: 800px;
    }
}

.v-image-box {
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    height: 256px;
    width: 256px;
}

.v-image-box>.v-image {
    height: 246px;
    width: 246px;
}
.v-image-box:hover {
    border: 1px solid rgb(10, 3, 3);
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6);
}

.v-image-label {
    padding: 10px;
    color: #FFF;
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.514);
}

.v-image-order-tag {
    position: absolute;
    top: -180px;
    right: 0px;
}

.v-test {
    margin: 0;
}
