<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="shortcut icon" href="{{ faviconSource }}" type="image/x-icon">
  <link rel="icon" href="{{ faviconSource }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ styleSource }}">
</head>
