<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ favicon }}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
  <link rel="stylesheet" href="{{ styleSource }}">
  <style>
    html::-webkit-scrollbar {
      width: 0 !important;
    }

    html {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;
    }

    body {
      margin: 0px;
    }
  </style>
</head>
